            <li><a href="https://rebelsky.youcanbook.me">Book an appointment</a></li>
            <li><a href="{{ site.baseurl | append: '/handouts/academic-honesty' }}">Academic Honesty</a></li>
            <li><a href="{{ site.baseurl | append: '/handouts/accessibility' }}">Accessibility</a></li>
            <li><a href="{{ site.baseurl | append: '/handouts/accommodations' }}">Accommodations and Adjustments</a></li>
            <li><a href="{{ site.baseurl | append: '/handouts/email' }}">Email</a></li>
