            <li><a href="http://www.cs.grinnell.edu/~rebelsky/Courses/CSC321/2017F/">Rebelsky 321 2017F</a></li>
            <li><a href="http://www.cs.grinnell.edu/~rebelsky/Courses/CSC322/2017F/">Rebelsky 322 2017F</a></li>
            <li><a href="http://www.cs.grinnell.edu/~rebelsky/Courses/CSC322/2018S/">Rebelsky 322 2018S</a></li>
            <li><a href="https://www.edx.org/course/agile-development-using-ruby-rails-uc-berkeleyx-cs169-1x-0">CSC 169-1x</a></li>
            <li><a href="https://www.edx.org/course/agile-development-using-ruby-rails-uc-berkeleyx-cs169-2x-0">CSC 169-2x</a></li>
